body {
    margin: 0;
    height: 100vh;

    background: url("images/bg.jpg") no-repeat center center fixed;
    background-size: cover;

    font-family: Arial, sans-serif;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
}

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(20, 20, 20, 0.9);
    padding: 20px;
    width: 320px;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.form-title {
    text-align: center;
    color: #ffd633;
    font-size: 18px;
    margin-bottom: 10px;
}

.form-control {
    background: #0f0f0f;
    border: none;
    color: white;
    height: 34px;
    font-size: 12px;
}

.form-control::placeholder {
    color: #aaaaaa;
}

.btn-warning {
    border-radius: 25px;
    font-size: 13px;
    font-weight: bold;
}
